body {
    background: black;
    color: white;
}
.selector {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    cursor: pointer;
}
.selector:hover {
    background: rgba(74, 74, 74, 0.5);
}
.selector:focus {
    background: rgb(74, 74, 74);
}
.songList {
    font-size: 20px;
    margin: auto 0px;
}
.songPosition {
    color: gray;
    margin-left: 10px;
}
.songName {
    margin-left: 30px;
}
.MediaRow {
    background-color: rgb(74, 74, 74);
} 
.MediaIcons {
    color: white;
}
.timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
  }
  .timeline:hover::-webkit-slider-thumb {
    opacity: 1;
  }
  .timeline::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
